/* App.css */
.nav-link-gap {
  margin-right: 35px;
}

.nav-dropdown-gap .dropdown-item {
  margin-right: 10px;
}
.nav-top-border{
  border: 1px  solid rgb(1, 1, 1);
}
.banner_title{
  font-weight: 600 !important;
}
.home_banner{
  height: 30rem !important;
}

/* App.css */
.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.display-5 {
  font-size: 2.5rem !important;
}

.font-weight-bold {
  font-weight: 600 !important;
}
/* App.css */
.heading-end {
  /* padding: 1rem; */
  font-size: 2rem !important; /* Adjust as needed for responsiveness */
}

@media (max-width: 576px) {
  .heading-end {
    font-size: 1rem; /* Smaller font size for extra small devices */
  }
}

@media (min-width: 768px) {
  .heading-end {
    font-size: 1.5rem; /* Larger font size for medium and larger devices */
  }
}
